<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.bbty.dao.UserDao" >   
 
   <select id="selectAllWithUserOper" parameterType="com.bbty.pojo.User"
		resultType="com.bbty.pojo.User">
		SELECT U.*,UO.STATUS FROM T_USER U,T_USER_OPER UO WHERE U.USERID=UO.USERID		
	</select>
	
	<select id="selectOneWithUserOper" parameterType="com.bbty.pojo.User"
		resultType="com.bbty.pojo.User">
		SELECT U.*,UO.STATUS FROM T_USER U,T_USER_OPER UO WHERE U.USERID=UO.USERID
		<if test="empid != null">
			AND U.EMPID=#{empid}
		</if>	
	</select>
	
	<select id="selectOneWithUserOperByUserId" parameterType="com.bbty.pojo.User"
		resultType="com.bbty.pojo.User">
		SELECT U.*,UO.STATUS FROM T_USER U,T_USER_OPER UO WHERE U.USERID=UO.USERID
		<if test="userid != null">
			AND U.USERID=#{userid}
		</if>	
	</select>

</mapper>