<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.bbty.dao.RoleDao" >    
  <resultMap id="role" type="com.bbty.pojo.Role" >
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />    
  </resultMap>    
</mapper>